# Don't include dependencies, should be installed after using 'bun install'
node_modules

# Don't include the built site, should be generated after using 'bun run build'
/build

# Don't include cached files or junk
*timestamp*
/.svelte-kit
