/* Necessary Embla styling */
.embla {
	overflow: hidden;
	cursor: grab;
	--slide-spacing: 1rem;
	--slide-size: 100%;
	width: 100%;
	position: relative;
}

.embla__container {
	display: flex;
	margin-left: calc(var(--slide-spacing) * -1);
	touch-action: pan-y pinch-zoom;
}

.embla__slide {
	flex: 0 0 var(--slide-size);
	min-width: 0;
	padding-left: var(--slide-spacing);
	transform: translate3d(0, 0, 0);
    overflow: hidden;
}

/* Actual carousel styling */
.embla__slide:not(.smallSlide) .carouselContent {
	position: absolute;
	width: 50%;
	left: 25%;
	border-radius: 0.5rem;
	backdrop-filter: blur(2rem);
	-webkit-backdrop-filter: blur(2rem);
	border: 3px solid #ffffff3b;
	bottom: 1rem;
	text-align: center;
	box-shadow: 0px 10px 15px #ffffff4a;
}

.embla__slide.smallSlide .carouselContent {
	position: absolute;
    bottom: 3px;
    left: 1.2rem;
    backdrop-filter: blur(2rem);
    margin: 2px;
    border-radius: 0 10px 0 5px;
    box-shadow: 0px 10px 15px var(--darkest1);
}

.embla__slide.smallSlide .carouselContent.lightBackground h4,
.embla__slide.smallSlide .carouselContent.lightBackground .name {
	color: var(--darkest1);
}

.embla__slide .carouselContent:not(.lightBackground) {
	backdrop-filter: blur(2rem) brightness(0.8);
	-webkit-backdrop-filter: blur(2rem) brightness(0.8);
}

.carouselContent h4 {
	text-shadow: 0 0 1rem white;
	margin: 0;
	position: relative;
}

.carouselContent .name {
	position: absolute;
	width: 100%;
	top: -1rem;
}

.embla__slide.smallSlide .name {
	left: 0.7rem;
}

.carouselContent p {
	padding: 1rem;
}

.carouselContent h6 {
	font-size: 1.1rem;
}

.carouselContent.lightBackground {
	color: var(--darkest1);
}

.carouselContent.lightBackground h4,
.carouselContent.lightBackground h6,
.carouselContent.lightBackground p {
	color: revert;
}

.embla__slide img {
	object-fit: cover;
	height: 45rem;
}

.embla__slide.smallSlide img {
	height: 15rem;
}

/* Carousel buttons (small) */
.embla__slide a::after {
	content: url(/media/icons/external.svg);
	scale: 0.6;
	width: 5px;
	height: 0;
	margin-left: 1px;
}

.embla__slide.smallSlide a {
	position: absolute;
	right: 0;
	width: auto;
	top: -1.1rem;
	margin-right: 5px;
	text-shadow: 0 0 0.5rem black;
}

.embla__slide a {
	justify-content: center;
	display: flex;
	margin-bottom: 0.5rem;
}

.blurBackground::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(5px);
	z-index: -1;
}

@media (max-width: 1000px) {
	.embla__slide:not(.smallSlide) .carouselContent {
		width: calc(100% - 1rem);
		left: 1rem;
		bottom: 0;
		box-shadow: none;
	}
}

/* Embla left/right arrows */
.embla__controls .arrow {
	padding: 10px;
	display: block;
	width: 10px;
	height: 10px;
	background-color: var(--blue1);
}

.embla button {
	position: absolute;
	top: 40%;
	min-width: revert;
	background: transparent;
	backdrop-filter: blur(2rem) brightness(0.8);
	border-radius: 10px;
	box-shadow: 0 0 10px 0 var(--darkest1) !important;
}
button.embla__next {
	right: 1rem;
}
button.embla__prev {
	left: 1rem;
}

.embla__controls .arrow {
	content: url(/media/icons/arrow.svg);
}

.embla__dots {
	display: flex;
}
span.embla__dot {
	height: 10px;
	display: block;
	background-color: var(--darkest3);
	position: relative;
	flex: 50%;
	margin: 3px;
	border-radius: 5px;
	transition:
		background-color 0.5s var(--ease),
		box-shadow 0.5s var(--ease);
	cursor: pointer;
}

span.embla__dot.selected {
	background-color: var(--blue2);
	box-shadow: 0 0 5px 0px var(--blue2);
}
