
footer {
	padding-top: 1rem;
	background-color: var(--darkest2);
	height: 4rem;
	z-index: 3;
	position: relative;
	margin-left: 5rem;
	transition: margin-left 0.1s var(--ease);
}

footer p, footer a {
	margin: 0;
	font-size: 0.8rem;
}

footer .date {
	opacity: 0.7;
	text-decoration: none!important;
    display: block;
}
