nav {
	font-family: var(--primaryFont);
	padding: 1rem 1rem;
	background-color: var(--darkest2);
}

:where(nav, footer) a {
	text-decoration: none;

	&.active {
		font-weight: bold;
	}
}

:where(nav, footer) nav ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: 0rem 1.5rem;
	padding: 0;
	margin: 0;
}

:where(nav, footer) a:hover {
	text-decoration: underline;
}

nav {
	position: sticky;
	top: 0;
	height: 100vh;
	width: 5rem;
	min-width: 5rem;
	transition:
		min-width 0.1s cubic-bezier(0, 0.6, 0.3, 1),
		padding 0.1s cubic-bezier(0, 0.6, 0.3, 1);
	box-shadow: 10px 0 20px 0px var(--darkest1);
}

#logoicon {
	width: 3rem;
	transform: translateX(0);
	opacity: 1;
	transition:
		transform 0.1s cubic-bezier(0, 0.6, 0.3, 1),
		opacity 0.1s cubic-bezier(0, 0.6, 0.3, 1);
	z-index: 2;
}

nav:hover #logoicon {
	transform: translateX(3rem);
	opacity: 0;
	position: absolute;
}

.site-title {
	font-family: var(--headerFont);
	font-size: 2rem;
	color: inherit;
	display: none;
	z-index: 3;
	position: relative;
	padding-left: 3px;
}

nav:hover .site-title {
	display: initial;
}

.menu-button {
	margin: 0;
	background: transparent !important;
	color: inherit;
	padding: 0;
	border: 0;
	width: 2rem;
	cursor: pointer;
	visibility: hidden;
}

.navItems {
	display: flex;
	justify-content: flex-start;
	transition:
		transform ease 0.15s,
		visibility 0.15s;
	z-index: 2;
}

nav:hover .navItems {
	transform: translateX(0);
	pointer-events: unset;
	visibility: unset;
}

a img {
	background-image: linear-gradient(240deg, var(--blue1) 0%, var(--blue2) 100%);
	border-radius: 15px;
	box-shadow: 0 0 10px 0 var(--blue1);
	border: 0 solid;
}

.navItems ul li a img {
	padding: 5px;
	background-color: var(--darkest3);
	border: 0 solid;
	border-radius: 0.75rem;
	box-shadow: 1px 1px 6px var(--darkest1);
	width: revert; /* fix annoying bug */
}

a.active img {
	box-shadow: 1px 1px 6px var(--blue1);
}

#expandbtn, #unexpandbtn {
	visibility: visible;
	position: absolute;
	left: 5rem;
	top: 1rem;
	width: 50px;
	transition:
		left 0.1s cubic-bezier(0, 0.6, 0.3, 1),
		transform 0.1s cubic-bezier(0, 0.6, 0.3, 1);
	background-color: var(--darkest2);
	border: 0 solid;
	border-radius: 0 0.5rem 0.5rem 0;
	box-shadow: 0 0;
}

nav:hover #expandbtn { visibility: hidden; }

#unexpandbtn { visibility: hidden; }

nav:hover + #unexpandbtn, nav:hover #expandbtn {
	visibility: visible;
	left: 12rem;
	transform: scaleX(-1);
	border-radius: 0.5rem 0 0 0.5rem;
}

nav:hover + #unexpandbtn {
	visibility: visible;
}

nav a img {
	width: 50px;
	min-width: 50px;
}

nav p {
	opacity: 0;
	transform: translateX(-2.5rem);
	transition:
		opacity 0.1s cubic-bezier(0, 0.6, 0.3, 1),
		transform 0.1s cubic-bezier(0, 0.6, 0.3, 1);
}

nav:hover p {
	opacity: 1;
	transform: translateX(0);
}

.menu-button {
	position: absolute;
	top: 0.75rem;
	right: 12px;
}

.main nav ul li {
	font-size: 1.2rem;
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: calc(0.2rem + 2vh);
}

nav ul:not(ul ul) {
	margin: 1rem auto 0;
	padding-top: 1rem;
	border-top: 3px solid var(--darkest1);
	padding-left: 0;
	width: 100%;
}

nav li {
	display: initial;
}

nav a {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-bottom: 0.65rem;
}

footer {
	padding-top: 1rem;
	background-color: var(--darkest2);
	height: 4rem;
	z-index: 3;
	position: relative;
}

footer p {
	margin: 0;
	font-size: 0.8rem;
}

.skip-to-content-link {
	position: absolute;
	top: -6rem;
	left: 0;
	padding: 0.5em;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	background: var(--nordLightWhite);
	color: var(--darkest2);
}

.skip-to-content-link:focus {
	transform: translateY(6rem);
	opacity: 1;
	z-index: 11;
}

/* Navigation open on hover */
nav:hover {
	width: 12rem;
	padding: 1rem 0.5rem;
	min-width: 12rem;
}

nav ul ul {
	max-height: 0px;
	transition:
		max-height 0.3s cubic-bezier(0, 0.6, 0.3, 1),
		margin-bottom 0.3s cubic-bezier(0, 0.6, 0.3, 1);
	overflow: hidden;
	padding-left: 10px;

	border-left: 2px solid var(--lightest1);
	margin-left: 5px;
	white-space: nowrap;
}

nav:hover ul ul {
	max-height: 7rem;
	margin-bottom: 10px;
}

nav ul ul li:last-child a {
	margin-bottom: 0;
}

nav ul ul p {
	transform: translateX(0) !important;
}
