nav {
	font-family: var(--primaryFont);
    padding: 1rem 1rem;
    background-color: var(--darkest2);
}

:where(nav, footer) a {
	text-decoration: none;

	&.active {
		font-weight: bold;
	}
}

:where(nav, footer) nav ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: 0rem 1.5rem;
	padding: 0;
	margin: 0;
}

:where(nav, footer) a:hover {
	text-decoration: underline;
}

nav {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 5rem;
	transition: width .1s cubic-bezier(0, 0.6, 0.3, 1);
}

#logoicon {
	width: 3rem;
}

nav:hover #logoicon{
	display: none;
}

.site-title {
	font-family: var(--headerFont);
    font-size: 2rem;
    color: inherit;
	display: none;
}

nav:hover .site-title {
	display: initial;
}

.menu-button {
	margin: 0;
	background: transparent !important;
	color: inherit;
	padding: 0;
	border: 0;
	width: 2rem;
    cursor: pointer;
    visibility: hidden;
}


.navItems {
    display: flex;
    justify-content: center;
    transition: opacity ease .1s, transform ease .15s, visibility .15s;
	z-index: 2;
}

nav:hover .navItems {
	transform: translateX(0);
	opacity: 1;
	pointer-events: unset;
	visibility: unset;
}

nav:hover li {
	--delay: 0.025s;
	opacity: 0;
	animation: slide_in_left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.navItems p {
    display: none;
}

nav:hover p {
    display: initial;
}


#expandbtn {
	position: absolute;
    left: 5rem;
    top: 1rem;
    width: 50px;
	transition: left .1s cubic-bezier(0, 0.6, 0.3, 1);
    background-color: var(--darkest2);
    border: 0 solid;
    border-radius: 0 0.5rem 0.5rem 0;
    box-shadow: 0 0;
}

nav:hover #expandbtn {
	left: 13rem;
}

nav a img {
    width: 50px;
    min-width: 50px;
}

nav p:nth-of-type(1) {
	animation-delay: calc(var(--delay) * 1);
}

nav p:nth-of-type(2) {
	animation-delay: calc(var(--delay) * 2);
}

nav p:nth-of-type(3) {
	animation-delay: calc(var(--delay) * 3);
}

nav p:nth-of-type(4) {
	animation-delay: calc(var(--delay) * 4);
}

nav p:nth-of-type(5) {
	animation-delay: calc(var(--delay) * 5);
}

nav p:nth-of-type(6) {
	animation-delay: calc(var(--delay) * 6);
}

nav p:nth-of-type(7) {
	animation-delay: calc(var(--delay) * 7);
}

nav p:nth-of-type(8) {
	animation-delay: calc(var(--delay) * 8);
}

.menu-button {
	position: absolute;
    top: 0.75rem;
    right: 12px;
}

.main nav ul li {
	font-size: 1.2rem;
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: calc(0.2rem + 2vh);
}

nav ul {
    margin: 1rem auto 0;
    padding-top: 1rem;
    border-top: 3px solid var(--darkest1);
    padding-left: 0;
}

nav li {
	font-size: inherit;
	display: initial;
	width: initial;
	text-align: initial;
	margin-bottom: 0;
}

nav a {
    display: flex;
    align-items: center;
	gap: 5px;
	margin-bottom: 5px;
}

footer {
    padding-top: 1rem;
	background-color: var(--darkest2);
	height: 4rem;
}

footer p {
	margin: 0;
	font-size: 0.8rem;
}

.skip-to-content-link {
	position: absolute;
	top: -6rem;
	left: 0;
	padding: 0.5em;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	background: var(--nordLightWhite);
	color: var(--darkest2);
}

.skip-to-content-link:focus {
	transform: translateY(6rem);
	opacity: 1;
	z-index: 11;
}

/* Navigation open on hover */
nav:hover {
    width: 13rem;
}