*, *:before, *:after {
	box-sizing: inherit;
	font-family: inherit;
}

main {
	flex: 2;
}

.layout {
	display: flex;
}

.content { 
    margin: 3rem 1rem;
	/* This fixes the footer issue; 6rem is padding size, 4rem is footer height) */
    min-height: calc(100vh - 6rem - 4rem);
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
    background-color: var(--nordDarkComplimentary);
    border: 2px var(--nordDarkBorder) solid;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 6px var(--nordDark);
}

body {
    margin: 0;
    min-height: 100vh;
    color: var(--nordLightPrimary);
    font-family: var(--primaryFont);
    background: var(--nordDark);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/* Mobile tap highlight */
html {
    -webkit-tap-highlight-color: rgba(128, 128, 128, 0.5);
}

.antialised {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes animatePageOut {
    from {
        opacity: 0;
        transform: translateX(0rem);
    }
    to {
        opacity: 1;
        transform: translateX(50vw);
    }

}
