*,
*:before,
*:after {
	box-sizing: inherit;
	font-family: inherit;
}

#content {
	margin: auto;
	max-width: 75rem;
	padding: 4rem 1rem 1rem 1rem;
	/* Make footer anchored to bottom - 4rem is footer height */
	min-height: calc(100vh - 5rem);
}

img:not(.noImgStyle) {
	width: 100%;
	max-width: 100%;
	height: auto;
	background-color: var(--darkest3);
	border: 2px var(--darkest4) solid;
	border-radius: 0.5rem;
	box-shadow: 1px 1px 6px var(--darkest1);
}

body {
	margin: 0;
	min-height: 100vh;
	color: var(--lightest2);
	font-family: var(--primaryFont);
	background: var(--darkest1);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

@media (max-width: 700px) {
	.gridItem {
		flex: 100%;
	}
}

.section a {
	width: 100%;
}
.section h2 {
	margin-bottom: 0;
}

/* Styles applied only on larger screens */
@media (min-width: 1200px) {
	.section {
		display: flex;
		flex-direction: revert;
		align-items: center;
		gap: 1rem;
	}
	.section.right {
		flex-direction: row-reverse;
		padding: 1rem 2rem;
	}
	.section h2 {
		font-size: 3rem;
	}
	.section a {
		width: 25rem;
	}
	.section.right h2 {
		text-align: right;
	}
}

.section.right {
	border-radius: 0.1rem;
}

.altBackground {
	background: #282d37;
	box-shadow: 0 0 10px 5px #282d37;
	border-radius: 0.4rem;
	padding: 0.5rem;
}

.altBackground h2 {
	margin: 10px;
}
/* Mobile tap highlight */
html {
	-webkit-tap-highlight-color: rgba(128, 128, 128, 0.5);
}
