.flexGrid {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	margin: auto;
}

.gridCard { 
	transition: scale 0.4s var(--ease);
	overflow: hidden;
	position: relative;
	transform: scale(1);
    flex: 45%;
}

.gridCard .contentFader { height: 5rem; }
.gridCard h1 { font-size: 1.5rem; margin: 0; }
.gridCard:hover { scale: 0.99; transition: 0.4s var(--ease); }
.gridCard:active { scale: 0.97; }

.backgroundIcon::after {
	content: '';
	height: 50px;
	width: 50px;
	position: absolute;
	z-index: -1;
	left: 0.5rem;
	background-size: cover;
	top: 0.5rem;
	transform: rotateZ(-10deg);
	display: inline-block;
	background-image: var(--bg);
	filter: invert(50%) sepia(5%) saturate(2000%) hue-rotate(180deg) brightness(87%) blur(1px);
}
