.selector {
    border-left: 5px solid white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.selector::before {
    content: "";
    border-top: 5px solid var(--lightest3);
    width: 23px;
    right: 20px;
    bottom: 20px;
    display: block;
    position: relative;
}

.selector::after {
    content: "";
    border-bottom: 5px solid var(--lightest3);
    width: 23px;
    right: 20px;
    display: block;
    position: relative;
    top: 20px;
}

textarea {
    width: 50%;
    height: 300px;
    margin: 0;
}

.inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

input#scriptType {
    width: 100%;
    height: 0.6rem;
}

.slider_container { width: 60px; }
.seperator { height: 0.5rem }