.card {
    background-color: var(--darkest3);
    border: 2px var(--darkest4) solid;
    padding: 10px;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 3px var(--darkest1);
    margin: 10px 0;
    text-align: center;
}

.flex.card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media(max-width:55rem){
    .flex.card {
        flex-direction: column-reverse;
    }
    .menu-button {
        visibility: visible;
    }
}

.card img:not(.flex.card img) {
    width: 50%;
}

.flex.card p {
    margin-bottom: 14px;
}