:root {
    /* Polar Night colors */
    --darkest1: #2E3440;
    --darkest2: #3B4252;
    --darkest3: #434C5E;
    --darkest4: #4C566A;

    /* Snow Storm colors */
    --lightest1: #ECEFF4;
    --lightest2: #E5E9F0;
    --lightest3: #D8DEE9;

    /* Nord Aurora misc colors */
    --red: #BF616A;
    --orange: #D08770;
    --yellow: #EBCB8B;
    --green: #A3BE8C;
    --purple: #B48EAD;
    
    /* Frost */
    --blue1: #b5d2d9; /* Permafrost Blue */
    --blue2: #81A1C1;
    --blue3: #5E81AC;
    
    /* Fonts */
    --headerFont: 'Hammersmith One', Roboto, Helvetica, Arial, sans-serif;
    --primaryFont: 'Sora', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

@keyframes slide_in_left {
    from {
        opacity: 0;
        transform: translateX(-1rem);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
